# Maintainer: Tai Groot <tai@taigrr.com>
pkgname='{{ .ProjectName }}'
pkgver='{{ .Version }}'
pkgrel=1
pkgdesc='{{ .Description }}'
arch=('x86_64' 'i686' 'armv7h' 'aarch64')
url='{{ .Homepage }}'
license=('0BSD')
provides=('imas' 'imas-farmer' 'imas-sprout')
conflicts=('imas-bin' 'imas-git')
source_x86_64=("${pkgname}-${pkgver}-x86_64.tar.gz::{{ .ArtifactURL }}")
source_i686=("${pkgname}-${pkgver}-i686.tar.gz::{{ .ArtifactURLs.linux_386 }}")
source_armv7h=("${pkgname}-${pkgver}-armv7h.tar.gz::{{ .ArtifactURLs.linux_arm }}")
source_aarch64=("${pkgname}-${pkgver}-aarch64.tar.gz::{{ .ArtifactURLs.linux_arm64 }}")
sha256sums_x86_64=('{{ .ArtifactChecksum }}')
sha256sums_i686=('{{ .ArtifactChecksums.linux_386 }}')
sha256sums_armv7h=('{{ .ArtifactChecksums.linux_arm }}')
sha256sums_aarch64=('{{ .ArtifactChecksums.linux_arm64 }}')

package() {
    # Install binaries
    install -Dm755 imas-${pkgver}-linux-${CARCH} "${pkgdir}/usr/bin/imas"
    install -Dm755 imas-farmer-${pkgver}-linux-${CARCH} "${pkgdir}/usr/bin/imas-farmer"
    install -Dm755 imas-sprout-${pkgver}-linux-${CARCH} "${pkgdir}/usr/bin/imas-sprout"
    
    # Install systemd service files
    install -Dm644 imas-farmer.service "${pkgdir}/usr/lib/systemd/system/imas-farmer.service"
    install -Dm644 imas-sprout.service "${pkgdir}/usr/lib/systemd/system/imas-sprout.service"
    
    # Install config files
    install -Dm644 imas-farmer.conf "${pkgdir}/etc/imas/farmer"
    install -Dm644 imas-sprout.conf "${pkgdir}/etc/imas/sprout"
    
    # Create directories
    install -dm755 "${pkgdir}/etc/imas/pki/farmer"
    install -dm755 "${pkgdir}/var/cache/imas/farmer"
    install -dm755 "${pkgdir}/var/cache/imas/sprout"
} 