---
# yamllint -c uat/enroll/.yamllint uat/enroll
extends: default
rules:
  line-length:
    max: 160
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  braces:
    max-spaces-inside: 1
